<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plataforma Municipal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

  <!-- HERO SECTION -->
  <header class="hero text-center text-white d-flex align-items-center justify-content-center">
    <div class="container">
      <h1>Gestión Municipal</h1>
      <p class="lead">Accede a trámites, pagos y noticias de forma rápida y segura.</p>
    </div>
  </header>
