<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de Multas</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<h1 class="my-4">Lista de Multas</h1>
	<a href="/multas/nuevo" class="btn btn-primary mb-3">Agregar Nueva Multa</a>
	<a href="/multas/pagos" class="btn btn-secondary mb-3">Ver Pagos</a>

	<!-- Formulario de Búsqueda -->
	<form class="form-inline mb-3" th:action="@{/multas}" method="get">
		<div class="form-group mx-sm-3 mb-2">
			<input type="text" class="form-control" id="search" name="search" placeholder="Buscar por código o placa">
		</div>
		<button type="submit" class="btn btn-primary mb-2">Buscar</button>
	</form>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Código</th>
			<th>Apellidos y Nombres</th>
			<th>DNI/RUC</th>
			<th>Código de Infracción</th>
			<th>Lugar</th>
			<th>Fecha y Hora</th>
			<th>Placa</th>
			<th>Estado</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="multa : ${multas}">
			<td th:text="${multa.codigo}"></td>
			<td th:text="${multa.apellidosNombres}"></td>
			<td th:text="${multa.dniRuc}"></td>
			<td th:text="${multa.codigoInfraccion}"></td>
			<td th:text="${multa.lugarInfraccion}"></td>
			<td th:text="${#temporals.format(multa.fechaInfraccion, 'yyyy-MM-dd')}"></td>
			<td th:text="${multa.placa}"></td>
			<td>
				<span th:if="${multa.estado == 'PAGADO'}" class="badge badge-success">Pagado</span>
				<span th:unless="${multa.estado == 'PAGADO'}" class="badge badge-danger">Activo</span>
			</td>
			<td>
				<div th:if="${multa.estado != 'PAGADO'}">
					<a th:href="@{/multas/editar/{id}(id=${multa.id})}" class="btn btn-info btn-sm">Editar</a>
					<a th:href="@{/multas/eliminar/{id}(id=${multa.id})}" class="btn btn-danger btn-sm">Eliminar</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>
