<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pagos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="my-4">Lista de Pagos</h1>

    <!-- Buscador -->
    <form class="form-inline mb-4" th:action="@{/multas/pagos}" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="search" name="search" placeholder="Buscar por DNI o Código de Multa">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Código de Multa</th>
            <th>DNI del Infractor</th>
            <th>Placa del Carro</th>
            <th>Número de Tarjeta</th>
            <th>Monto (S/.)</th>
            <th>Fecha y Hora de Pago</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pagoDetalle : ${pagos}">
            <td th:text="${pagoDetalle.pago.codigoMulta}"></td>
            <td th:text="${pagoDetalle.dniInfractor}"></td>
            <td th:text="${pagoDetalle.placaCarro}"></td>
            <td th:text="${pagoDetalle.pago.numeroTarjeta}"></td>
            <td th:text="${pagoDetalle.pago.monto}"></td>
            <td th:text="${#temporals.format(pagoDetalle.pago.fechaHoraPago, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/multas" class="btn btn-secondary">Regresar a Multas</a>
</div>
</body>
</html>
