<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resultado de Búsqueda</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h2 class="text-center mb-4">Detalles de la Multa</h2>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Código: <span th:text="${multa.codigo}"></span></h5>
					<p class="card-text">Apellidos y Nombres: <span th:text="${multa.apellidosNombres}"></span></p>
					<p class="card-text">DNI/RUC: <span th:text="${multa.dniRuc}"></span></p>
					<p class="card-text">Descripción: <span th:text="${multa.descripcionInfraccion}"></span></p>
					<p class="card-text">Monto: <span th:text="${multa.sancion}"></span></p>
					<p class="card-text">Lugar: <span th:text="${multa.lugarInfraccion}"></span></p>
					<p class="card-text">Fecha: <span th:text="${#temporals.format(multa.fechaInfraccion, 'yyyy-MM-dd')}"></span></p>
					<p class="card-text">
						Estado: <span th:text="${multa.estado}"></span>
						<span th:if="${multa.estado == 'PAGADO'}" class="text-success"> - Multa Pagada</span>
					</p>
					<div class="text-center mt-4">
						<a th:href="@{/multas/pago(id=${multa.id})}" class="btn btn-success" th:unless="${multa.estado == 'PAGADO'}">Pagar</a>
						<a href="/multas/buscar" class="btn btn-secondary">Regresar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
